# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
venv/
ENV/

# Dataset directories - avoid tracking large data files
dataset/
dataset_split/
lens-finding-test/
*.zip

# Model weights- these can be very large
model_weights_task1_comparison/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
